@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Dancing+Script:wght@700&family=Fugaz+One&display=swap');









.btn2 span:first-child{
  transform: translateX(-101%);
  transition: transform .3s ease-in
}
.btn2:hover span{
  transform: translateX(0)
} 


/* li hover css  */







/* #myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: red; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
} */



/* typing anime  */
.typo{
  overflow: hidden;
  border-right: .15em solid orange;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.typo{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 4s normal forwards linear;
  
}
.animate__hinge{
  animation: 5s;
}


.about{
  padding: 6rem 3rem 5rem 3rem;
  /* background: #f8f8f8; */
  font-family: Fugaz;
}
.row{
  display: flex;
  justify-content: space-around;
}
.row .column{
  width: 40%;
}
.column .tabs{
  display: flex;   
}
.single-tab{
  background: white;
  margin-right: 10px;
  cursor: pointer;
}
.single-tab h2{
  display:block;
  padding: 10px 16px;
  border-radius: 4px;
  color: #3c3c3c;
  font-size: 15px;
  font-weight: 600;
  font-family: Fugaz;
}
.about-img{
  filter: grayscale(1);
  position: relative;
  background-image: url("../public/mee.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 550px;
  width: 100%;
}
.about-img:hover{
  filter: grayscale(0);
  transition-duration: 1s;
}

.content{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: none;
}


.active-content{
  display: block;
}
.active-tab{
  background: black;
  position: relative;
}
.active-tab::before{
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: black transparent transparent transparent;
}
.active-tab h2{
  color: white;
}
.content h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  font-family: Fugaz;
  margin-bottom: 1rem;
}



.content p{
  padding-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  font-family: Fugaz;
  color: rgb(66, 70, 45);
}
.content h3{
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: Fugaz;
  margin-bottom: 1rem;
}



/* Experience CSS */
.exp-column h3{
  margin-bottom: 10px;
  font-family: Fugaz;

}
.exp-column span{
  font-weight: 500;
  color: #18dcff;
}
.exp-column p{
 margin-top: 10px;
 font-family: Fugaz;

}
@media screen and (max-width:768px) {
  .about{
      padding: 2rem 1rem 3rem 1rem;
  }
  .row{
      display: flex;
      flex-direction: column;
  }
  .about-img{
      height: 500px;
  }
  .row .column{
      width: 100%;  
  }
  .tabs{
      padding-top: 3rem;
  }
  .skills-row{
      grid-template-columns: 1fr;
  }
}